html, body, p, h1, h2, h3, h4, h5, h6{margin:0px;padding:0px;}
html, body{width:100%;height:100%;}
body{background-image:url("background.png");background-size:100% 100%;background-position:center;}
h1{background-color:rgba(0,0,0, 0.4);border-radius:10px;text-align:center;color:white;font-family: Helvetica;}
section{padding:5px;box-sizing:border-box;margin-left:20px;margin-right:20px;}
p{background-color:rgba(0,0,0, 0.4);border-radius:10px;color:white;font-family:Courier New;margin-top:10px;padding:5px;}
@media only screen and (max-width:800px) {
section{margin-left:0px;margin-right:0px;}
}
